Student Number: <b>220624059</b>\
Name: <b>Yash Borikar</b>\
Subject: <b>CSC8634 - Cloud Computing</b>\
Dataset: <b>Performance evaluation of Terapixel rendering in Cloud Computing</b>\
Date: <b>May 8, 2023</b>

---

# Introduction

# Methodology

## 1. Business Understanding

## 2. Data understanding

## 3. Data Exploration

#### 3.1 Importing Libraries

In [6]:
# Basic libraries
import os
import csv

# Library for Data operation
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Library plotly for plotting graphs
import plotly.express as px
import plotly.graph_objects as go

#### 3.2 Importing Datafiles

In [7]:
# Function to import, extract csv files
def extract_csv(directory):
    with open(directory, 'r', encoding="utf-8") as file:
        dataframe = pd.read_csv(file)
    return dataframe

Note: All Data Files are to be kept in Data folder of current directory

In [8]:
# Change directory to Data files if notebook is executed on google collab
directory = './Data/'

In [9]:
# Extract all Data file
df_checkpoints = extract_csv(directory + 'application-checkpoints.csv')
df_task_xy = extract_csv(directory + 'task-x-y.csv')
df_gpu = extract_csv(directory + 'gpu.csv')

#### 3.3 Exploring Datafiles

In [10]:
# Data frame of checkpoint file
df_checkpoints = df_checkpoints.sort_values(by='timestamp', ascending=False)
df_checkpoints.head(3)

,timestamp,hostname,eventName,eventType,jobId,taskId
263223,2018-11-08T08:30:16.345Z,6139a35676de44d6b61ec247f0ed8657000013,Uploading,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e
75919,2018-11-08T08:30:16.345Z,6139a35676de44d6b61ec247f0ed8657000013,TotalRender,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e
75922,2018-11-08T08:30:16.277Z,6139a35676de44d6b61ec247f0ed8657000013,Tiling,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e

<b>Summary of Checkpoint File:</b>
- Checkpoint file consist of checkpoints throughout execution of rendering job. 
- It contains <b>660400 Rows</b> and <b>6 Columns</b>
- 6 variables:
    - <b>timestamp:</b> Timestamp  of each event occurance
    - <b>hostname: </b> Hostname of Azure virtual machine
    - <b>eventName: </b> Name of Event occuring (Saving Config, Render, Tiling, Uploading, Total Render)
    - <b>eventType: </b> Notes if current status of event (START, STOP)
    - <b>jobId: </b> Id of Azure batch job
    - <b>taskId: </b> Id of Azure batch task
- Primary important variable are timestamp, eventName, eventType, taskId to calculate execution time of each task.

In [16]:
# Data frame of task x, y file
df_task_xy.head(3)

,taskId,jobId,x,y,level
0,00004e77-304c-4fbd-88a1-1346ef947567,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,116,178,12
1,0002afb5-d05e-4da9-bd53-7b6dc19ea6d4,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,142,190,12
2,0003c380-4db9-49fb-8e1c-6f8ae466ad85,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,142,86,12

<b>Summary of task X, Y File:</b>
- task-x-y file consist of taskId ,jobId of Azure batch allocated to generate X, Y cooridate of image
- It contains <b>65793 Rows</b> and <b>5 Columns</b>
- 5 variables:
    - <b>taskId: </b> Id of Azure batch task
    - <b>jobId: </b> Id of Azure batch job
    - <b>x: </b> X coordinate of image
    - <b>y: </b> Y coordinate of image
    - <b>Level: </b> Zoom Level (4, 8, 12)

- Primary important variable are taskId, x, y, Level to relate Azure resource allocated for image visuals.

In [21]:
# Dataframe of GPU file
df_gpu.head(3)

,timestamp,hostname,gpuSerial,gpuUUID,powerDrawWatt,gpuTempC,gpuUtilPerc,gpuMemUtilPerc
0,2018-11-08T08:27:10.314Z,8b6a0eebc87b4cb2b0539e81075191b900001C,3.232170e+11,GPU-1d1602dc-f615-a7c7-ab53-fb4a7a479534,131.55,48,92,53
1,2018-11-08T08:27:10.192Z,d8241877cd994572b46c861e5d144c85000000,3.236170e+11,GPU-04a2dea7-f4f1-12d0-b94d-996446746e6f,117.03,40,92,48
2,2018-11-08T08:27:10.842Z,db871cd77a544e13bc791a64a0c8ed50000006,3.232170e+11,GPU-f4597939-a0b4-e78a-2436-12dbab9a350f,121.64,45,91,44

In [20]:
df_gpu.describe()

          gpuSerial  powerDrawWatt      gpuTempC   gpuUtilPerc  gpuMemUtilPerc
count  1.048575e+06   1.048575e+06  1.048575e+06  1.048575e+06    1.048575e+06
mean   3.239833e+11   8.932175e+01  4.006577e+01  6.323106e+01    3.347066e+01
std    1.228579e+09   3.965436e+01  3.789499e+00  4.136935e+01    2.294430e+01
min    3.201180e+11   2.255000e+01  2.600000e+01  0.000000e+00    0.000000e+00
25%    3.236170e+11   4.515000e+01  3.800000e+01  0.000000e+00    0.000000e+00
50%    3.236170e+11   9.668000e+01  4.000000e+01  8.900000e+01    4.300000e+01
75%    3.250170e+11   1.213400e+02  4.200000e+01  9.200000e+01    5.100000e+01
max    3.252170e+11   1.970100e+02  5.500000e+01  1.000000e+02    8.300000e+01

<b>Summary of GPU File:</b>

- Rendering image is processed on 12 GPUs of 1024MB
- GPU file consist of timestamp ,hostname, gpuSerial, gpuUUID, powerDrawWatt, gpuTempC, gpuUtilPerc, gpuMemUtilPerc

- It contains <b>1048575 Rows</b> and <b>8 Columns</b>
- 5 variables:
    - <b>timestamp: </b> Timestamp of GPU utilization instance
    - <b>hostname: </b> Hostname of Azure virtual machine
    - <b>gpuSerial: </b> Serial Number of GPU card
    - <b>gpuUUID: </b> Azure GPU system ID
    - <b>powerDrawWatt: </b> Power Drawn by GPU (Watts)
    - <b>gpuTempC: </b> GPU Temperature (°C)
    - <b>gpuUtilPerc: </b> GPU core utilization
    - <b>gpuMemUtilPerc: </b> GPU memory utilization

- Primary important variable are timestamp to merge dataset, gpuSerial, gpuUUID, powerDrawWatt, gpuTempC, gpuUtilPerc, gpuMemUtilPerc parameters to evaluate GPU performance in image visuals.

## 4. Data Preparation

#### 4.1 Cleaning Datafiles

##### 4.1.1 Cleaning checkpoint file

In [26]:
# Data de-duplication
df_checkpoints.drop_duplicates()
# remove missing values
df_checkpoints.dropna()
# format timestamp
df_checkpoints['timestamp'] = pd.to_datetime(df_checkpoints['timestamp'])
df_checkpoints.head(3)

,timestamp,hostname,eventName,eventType,jobId,taskId
263223,2018-11-08 08:30:16.345000+00:00,6139a35676de44d6b61ec247f0ed8657000013,Uploading,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e
75919,2018-11-08 08:30:16.345000+00:00,6139a35676de44d6b61ec247f0ed8657000013,TotalRender,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e
75922,2018-11-08 08:30:16.277000+00:00,6139a35676de44d6b61ec247f0ed8657000013,Tiling,STOP,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,09f07f53-8b9a-46ce-ae80-ef57bfcdc14e

##### 4.1.2 Cleaning task x, y file

In [27]:
# Data de-duplication
df_task_xy.drop_duplicates()
# remove missing values
df_task_xy.dropna()
df_task_xy.head(3)

,taskId,jobId,x,y,level
0,00004e77-304c-4fbd-88a1-1346ef947567,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,116,178,12
1,0002afb5-d05e-4da9-bd53-7b6dc19ea6d4,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,142,190,12
2,0003c380-4db9-49fb-8e1c-6f8ae466ad85,1024-lvl12-7e026be3-5fd0-48ee-b7d1-abd61f747705,142,86,12

##### 4.1.3 Cleaning GPU file

In [30]:
# Data de-duplication
df_gpu.drop_duplicates()
# remove missing values
df_gpu.dropna()
# format timestamp
df_gpu['timestamp'] = pd.to_datetime(df_gpu['timestamp'])
df_gpu.head(3)

,timestamp,hostname,gpuSerial,gpuUUID,powerDrawWatt,gpuTempC,gpuUtilPerc,gpuMemUtilPerc
0,2018-11-08 08:27:10.314000+00:00,8b6a0eebc87b4cb2b0539e81075191b900001C,3.232170e+11,GPU-1d1602dc-f615-a7c7-ab53-fb4a7a479534,131.55,48,92,53
1,2018-11-08 08:27:10.192000+00:00,d8241877cd994572b46c861e5d144c85000000,3.236170e+11,GPU-04a2dea7-f4f1-12d0-b94d-996446746e6f,117.03,40,92,48
2,2018-11-08 08:27:10.842000+00:00,db871cd77a544e13bc791a64a0c8ed50000006,3.232170e+11,GPU-f4597939-a0b4-e78a-2436-12dbab9a350f,121.64,45,91,44

#### 4.2 Datafiles Operations

<b>Merging checkpoint and task-x-y file<b>
- Merging two file as <b>left joint</b> with respect to <b>jobId, taskId</b>
- taskId are distinct for each tile, which are processed in five event (Saving Config, Render, Tiling, Uploading, Total Render), thus remains to be effective primary key for merging.

In [ ]:
# Merging checkpoint and task-x-y file with respect to 'taskId'
df_check_xy = pd.merge(df_checkpoints, df_task_xy, on=['jobId', 'taskId'], how='left')

# Formating timestamp
df_check_xy['timestamp'] = pd.to_datetime(df_check_xy['timestamp'])

# Sorting merged file by timestamp
df_check_xy = df_check_xy.sort_values(by='timestamp', ascending=False)

# Removing cloned jobId column and renaming column name
del df_check_xy['jobId_y']
df_check_xy  = df_check_xy .rename(columns={'jobId_x': 'jobId'})

# Variable df_check_xy stores merged dataframe
df_check_xy.head(3)

## 5. Exploratory Data Analysis & Modeling

### 5.1 Determining Processing Time for Each Event and determining the dominance of the Event

### 5.2 Visualizing the relation between GPU parameters to generate image tiles.

### 5.3 Visualizing the relation between GPU Power Utilization and GPU Temperature

### 5.4 Comparison between GPU series with Power Utilization

### 5.5 Energy Consumption for rendering each Event

### 5.6 Relation plot of Render time and GPU Power consumption

## 6. Evaluation

# Future Scope

# Brief Review

# References